
a {
  color: inherit;
}

ul {  
  margin: 0;  
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.first{
  display: flex;
  flex-direction: column;
}

.first__link {
  margin-bottom: 30px;
}

.first__button {
  margin: 0;
  padding: 10px 40px;

  max-width: 240px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
}

.first__list {
  margin: 20px 0;
}

.first__item {
  margin-top: 5px;
}

.magic-btn {
  margin: 0;
  padding: 10px 40px;
  
  max-width: 240px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  cursor: pointer;
  color: aliceblue;
  background-color: blueviolet;
  outline: none;
  border: none;
  border-radius: 9px;
}

.site-nav {
  margin: 20px 0;
}

.site-nav__item {
  margin-top: 5px;
}

.site-nav__link--current {
  color: blueviolet;
}

.color-picker__option {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.title a {
  color: blue;
  font-weight: 400;
  margin-left: 15px;
}

.transaction-table th{
  padding: 10px;
}